@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body {
    background-color: #EEF9BF;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 56px;
    color: #75B79E;
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5% ;
    text-align: center;
    
}

.cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    
}

.pai {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.card {
    width: 117px;
    height: 146px;
    background-color: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 41px;
    transform-style: preserve-3d;
    
}

.card img {
    height: 100px;
    width: 100px;
    
}

.card-1 {
    transition: all .5s;
}

.front {
    position: absolute;
   
}

.back {
    transform: rotateY(180deg);
   
}


.transicao {
    transform: rotateY(180deg);
}

.escondido {
    display: none;
}

@media (max-width: 600px) {
    .cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }
}